@media (max-width: 991px){
    /* Header Style */
    header{
        padding: 20px 50px;
        flex-direction: column;
    }
    .navigation{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
    }
    /* Banner Style */
    .banner{
        padding: 150px 50px;
    }
    .banner .play{
        left: 50px;
        font-size: 1em;
    }
    .play img{
        margin-right: 10px;
        max-width: 40px;
    }
    .trailer video{
        max-width: 90%;
    }
}
@media (max-width: 600px){
    /* Header Style */
    header{
        padding: 20px;
        flex-direction: column;
    }
    .search{
        position: relative;
        width: calc(100% - 20px);
        height: 40px;
    }
    /* Banner Style */
    .banner{
        padding: 220px 20px 120px;
    }
    .banner .play{
        left: 20px;
        font-size: 1em;
        bottom: 30px;
    }
}